
<nav class="navbar navbar-light2 navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <div class="navbar-text pull-left">
      <a routerLink="/user/website/{{wid}}/page" class="black">
        <span class="glyphicon glyphicon-chevron-left "></span>
      </a>
    </div>

    <div class="navbar-brand pull-left">
      <div class="thick grey">
        <b>Widgets</b>
      </div>
    </div>

    <!--tick mark-->
    <div class="navbar-text pull-right">
      <a routerLink="/user/website/{{wid}}/page/{{pid}}/widget/new"
         class="black">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </div>

  </div>
</nav>



<div class="container-fluid padding padding-b " >
  <div class="widget-list" appSortable (newIndexes)="reorderWidgets($event)">

  <div *ngFor = "let widget of widgets" class="container-fluid">

    <div class="jga-widget">
      <div class="jpa-toolbar">
        <div>
          <span class="glyphicon glyphicon-menu-hamburger black pull-right"></span>
          <a class="blue" routerLink="/user/website/{{ wid }}/page/{{pid}}/widget/{{widget._id}}" >
            <span class="glyphicon glyphicon-cog  pull-right"></span>
          </a>
        </div>
      </div>

              <div [ngSwitch] = "widget.type">


                  <div *ngSwitchCase="'HEADING'" class="padding-b">
                    <div [ngSwitch]="widget.size">
                      <h1 *ngSwitchCase="1">{{widget.text}}</h1>
                      <h2 *ngSwitchCase="2">{{widget.text}}</h2>
                      <h3 *ngSwitchCase="3">{{widget.text}}</h3>
                      <h4 *ngSwitchCase="4">{{widget.text}}</h4>
                      <h5 *ngSwitchCase="5">{{widget.text}}</h5>
                      <h6 *ngSwitchCase="6">{{widget.text}}</h6>
                    </div>
                  </div>

                  <div *ngSwitchCase = "'IMAGE'">
                    Image url:  {{ widget.url }}
                    <img class="e2e-trusted-url padding-b" width="100%" src= "{{widget.url}}"/>
                    <br/>
                  </div>

                  <div *ngSwitchCase = "'HTML'" [innerHTML]="widget.text" class="padding-b"> </div>
                    <!--<a href="{{widget.url}}" class> <div>{{widget.text}}</div> </a>-->

                  <div *ngSwitchCase="'INPUT'" class="padding-b">
                    <div *ngIf="widget.formatted">
                      <quill-editor [(ngModel)]="widget.text" name="text"></quill-editor>
                    </div>
                    <input *ngIf="!widget.formatted && (!widget.rows || widget.rows===1)"
                           placeholder="{{widget.placeholder}}" class="form-control"/>

                    <textarea *ngIf="!widget.formatted && (widget.rows > 1)"
                              rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                              class="form-control">{{widget.text}}</textarea>
                  </div>


                  <div *ngSwitchCase = "'YOUTUBE'" class="padding-b">
                    <div class="videoWrapper">
                      <iframe  class="e2e-iframe-trusted-src" width="560" height="315"
                               [src] = updateVideoUrl(widget.url) frameborder="0" allowfullscreen></iframe>
                      <br/>
                    </div>
                  </div>

                </div>

    </div>

  </div>
</div>

<nav class="navbar navbar-light2 navbar-fixed-bottom">
  <div class="container-fluid">

    <div class="navbar-text pull-left">
      <span class="glyphicon glyphicon-play black"></span>
    </div>

    <div class="navbar-text pull-left">
      <span class="glyphicon glyphicon-eye-open black"></span>
    </div>

    <div class="navbar-text pull-right">
      <a routerLink="/profile" class="blue">
        <span class="glyphicon glyphicon-user "></span>
      </a>
    </div>
  </div>
</nav>
