
<nav class="navbar navbar-light2 navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <div class="navbar-text pull-left">
      <a routerLink="/profile/{{userId}}/website/{{wid}}/page" class="black">
        <span class="glyphicon glyphicon-chevron-left "></span>
      </a>
    </div>

    <div class="navbar-brand pull-left">
      <div class="thick grey">
        <b>Widgets</b>
      </div>
    </div>

    <!--tick mark-->
    <div class="navbar-text pull-right">
      <a routerLink="/profile/{{userId}}/website/{{wid}}/page/{{pid}}/widget/new"
         class="black">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </div>

  </div>
</nav>



<div class="container-fluid padding-b" >

  <div *ngFor = "let widget of widgets" class="container-fluid">

    <div class="jpa-widget">
      <div class="jpa-toolbar">
        <div>
          <span class="glyphicon glyphicon-menu-hamburger black pull-right"></span>
          <a class="blue" routerLink="/profile/{{ userId }}/website/{{ wid }}/page/{{pid}}/widget/{{widget._id}}" >
            <span class="glyphicon glyphicon-cog  pull-right"></span>
          </a>
        </div>
      </div>

        <!--<ul routerLink="/profile/{{ userId }}/website/{{ wid }}/page/{{pid}}/widget" class="list-group">-->
          <!--<li class="list-group-item blue borderless">-->

            <a class="blue">

              <!--{{ widget.text }}-->

              <!--{{ widget.widgetType }}-->

              <div [ngSwitch] = "widget.widgetType">

                <div *ngSwitchCase = "'HEADING'">
                  <h1>{{widget.text}}</h1>
                  <br/>
                </div>

                <div *ngSwitchCase = "'IMAGE'">
                  <img width="100%" src="{{widget.url}}"/>
                  <br/>
                </div>

                <div *ngSwitchCase = "'HTML'">
                  <!--<a href="{{widget.url}}" class> <div>{{widget.text}}</div> </a>-->
                  <h2>{{widget.text}}</h2>
                  <br/>
                </div>

                <div *ngSwitchCase = "'YOUTUBE'">
                  <div class="videoWrapper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/qdA32j7_U6U" frameborder="0" allowfullscreen></iframe>
                    <br/>
                  </div>
                </div>

              </div>

            </a>

      <!--{{widget.text}}-->

            <!--<a class="pull-right" routerLink="/profile/{{ userId }}/website/{{ wid }}/page/{{pid}}/widget/{{widget._id}}">-->
              <!--<span class="glyphicon glyphicon-cog"></span>-->
            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->

    </div>
  </div>
</div>





<nav class="navbar navbar-light2 navbar-fixed-bottom">
  <div class="container-fluid">

    <div class="navbar-text pull-left">

      <span class="glyphicon glyphicon-play black"></span>

    </div>

    <div class="navbar-text pull-left">

      <span class="glyphicon glyphicon-eye-open black"></span>

    </div>

    <div class="navbar-text pull-right">
      <a routerLink="/profile/{{userId}}" class="blue">
        <span class="glyphicon glyphicon-user "></span>
      </a>
    </div>
  </div>
</nav>
