
<nav class="navbar navbar-tiffany navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-text pull-left">
      <a routerLink="/profile" class="white">
        <span class="glyphicon glyphicon-chevron-left "></span>
      </a>
    </p>

    <div class="navbar-brand pull-left">
      <b class="white">Class list</b>
    </div>

    <!--tick mark-->
    <div class="navbar-brand pull-right">
      <a (click) = addclass() class="white ">
        <b>Add class</b>
        <!--<span class="glyphicon glyphicon-plus "></span>-->
      </a>
    </div>
  </div>
</nav>


<div class=" container-fluid padding"></div>

<label class ='letter-tiffany paddingleft'>Welcome to StockSim, {{user.firstName}}! Role: {{user.role}}</label>

<div *ngFor = "let website of websites" class="container-fluid ">
  <ul  class="list-group">
    <li class="list-group-item blue ">

      <b >
        {{ website.name }}    &nbsp;&nbsp;     (Class owner: &nbsp;{{ website._user.username}})
      </b>

      <button class="pull-right btn-primary " routerLink="/user/website/{{ website._id }}">
        Go to my class
      </button>

    </li>
  </ul>
</div>

<nav class="navbar navbar-tiffany navbar-fixed-bottom">
  <div class="container-fluid">
    <b class="navbar-text pull-left white">
      StockSim
    </b>
    <p class="navbar-text pull-right">
      <a routerLink="/profile" class="white">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>

