

<!--<input value = "{{user.username}}"/>-->
<!--<br/>-->

<!--<input value = "{{user.firstName}}"/>-->


<nav class="navbar navbar-tiffany navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <div class="navbar-brand pull-left">
      <!--<a class="thick white nounderline " href="../page/page-list.html">-->
      <b class="white">Profile</b>
      <!--</a>-->
    </div>

    <div class="navbar-text pull-right">
      <a (click)= "update ()" class="white ">
        <span class="glyphicon glyphicon-ok "></span>
      </a>
    </div>

    <!--tick mark-->

  </div>
</nav>


<!--<form id="updateForm" (ngSubmit) = "update()" #f="ngForm">-->
  <div class="container padding">

    <label class = 'blue'>Role: {{user.role}}</label>

    <form #f="ngForm">
        <div class="form-group ">
          <label class = 'blue'>Username</label>
          <input [(ngModel)] = "username"
                 name="username"
                 type="email" class="form-control"
                 placeholder="alice"
                 required>
        </div>


        <div class="form-group">
          <label class = 'blue'>Email address</label>
          <input [(ngModel)] = "email"
                 name="email"
                 type="email" class="form-control"
                 placeholder="a@unicorn.com"
                 required>
        </div>


        <div class="form-group">
          <label class = 'blue'>First Name </label>
          <input [(ngModel)] = "firstName"
                 name="firstName"
                 type="text"
                 class="form-control"
                 placeholder = "firstName"
                 required>
        </div>



        <div class="form-group">
          <label class = 'blue'>Last Name</label>
          <input [(ngModel)] = "lastName"
                 name="lastName"
                 type="text"
                 class="form-control"
                 placeholder = "lastName"
                 required>
        </div>
    </form>

    <a class="btn btn-primary btn-block"
       [routerLink]="['/user', 'website']">Your Class</a>

    <a class="btn btn-danger btn-block "
       (click)="logout()" >Logout</a>

    <a (click)="deleteUser()"
      class="btn btn-danger btn-block " routerLink="/login" >Delete User</a>

  </div>
<!--</form>-->

<!-- Footer -->
<nav class="navbar navbar-tiffany navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="/profile" class="white">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
