
<div class="container">


  <h1>Login</h1>

  <form (ngSubmit) = "login()" #f="ngForm">
    <input ngModel
           placeholder="username"
           name="username"
           class="form-control"
           type="text"
           required
           #username = "ngModel"/>
    <br/>

    <input ngModel
           placeholder="password"
           name="password"
           class="form-control"
           type="password"
           required
           #password="ngModel"/>
    <br/>

    <button class="btn btn-primary btn-block form-control"
            type="submit"
            [disabled]="!f.valid"
    >Login</button>
    <!--(click)="login()"-->

    <button class="btn btn-success btn-block form-control"
            routerLink="/register">Register</button>

    <button  href="/facebook/login" class="btn btn-primary btn-block">
      <!--<button class="btn btn-primary btn-block" [routerLink]="['/login']" type="button">-->
      <span class="fa fa-facebook"></span>
      Facebook
    </button>
  </form>

</div>
