<nav class="navbar navbar-light2 navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <div class="navbar-text pull-left">
      <a routerLink="/user/website/{{wid}}/page/{{pid}}/widget" class="black">
        <span class="glyphicon glyphicon-chevron-left "></span>
      </a>
    </div>

    <div class="navbar-brand pull-left">
      <div class="thick grey">
        <b>Widget Edit</b>
      </div>
    </div>

    <!--tick mark-->
    <div class="navbar-text pull-right">
      <a (click)="updateWidget()" class="black">
        <span class="glyphicon glyphicon-ok "></span>
      </a>
    </div>

  </div>
</nav>


<div class="container-fluid padding">

  <div class="form-group">
    <label for="Name">Name</label>
    <input [(ngModel)]="widget.name"
           type="text"
           class="form-control"
           id="Name"
           name="widname"
           placeholder="Enter the name"
           required>
    <span class="alert-class"
          *ngIf="flag">{{alert}}</span>
  </div>

  <quill-editor [(ngModel)]="widget.text" name="text"></quill-editor>

  <!--<quill-editor [(ngModel)]="editorContent"-->
                <!--[options]="editorOptions"-->
                <!--(blur)="onEditorBlured($event)"-->
                <!--(focus)="onEditorFocused($event)"-->
                <!--(ready)="onEditorCreated($event)"-->
                <!--(change)="onContentChanged($event)"></quill-editor>-->
  <br/>

  <a class="btn btn-danger btn-block"
     (click)="deleteWidget(this.pid, this.wgid)">Delete</a>

</div>

