
<nav class="navbar navbar-light2 navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <div class="navbar-text pull-left">
      <a routerLink="/user/website/{{wid}}/page" class="navbar-link black">
        <span class="glyphicon glyphicon-chevron-left "></span>
      </a>
    </div>

    <div class="navbar-brand pull-left">
      <div class="thick">
        <b>Edit Portfolio</b>
      </div>
    </div>

    <!--tick mark-->
    <div class="navbar-text pull-right">
      <a (click)="update(name, title)"
         class="navbar-link black">
        <span class="glyphicon glyphicon-ok "></span>
      </a>
    </div>

  </div>
</nav>



<div class="container-fluid padding">

  <b>Name</b>

    <input [(ngModel)]="name"
           class="form-control"
           type="text"
           placeholder="page name">

  <b>Tile</b>

    <input [(ngModel)]="title"
           class="form-control"
           type="text"
           placeholder="page title">

    <a class="btn btn-danger btn-block"
       (click)="deletePage(this.wid, this.pid)"
       routerLink="/user/website/{{wid}}/page" >Delete</a>


</div>



<nav class="navbar navbar-light2 navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a
        routerLink="/profile" class="blue">
        <span class="glyphicon glyphicon-user "></span>
      </a>
    </p>
  </div>
</nav>

