
<nav class="navbar navbar-light2 navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <div class="navbar-text pull-left">
      <a routerLink="/profile/{{userId}}/website" class="black">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>

    <div class="navbar-brand pull-left">

        <b class = grey>Pages</b>

    </div>

    <!--tick mark-->
    <div class="navbar-text pull-right">
      <a routerLink="/profile/{{userId}}/website/{{wid}}/page/new" class="black">
        <span class="glyphicon glyphicon-plus "></span>
      </a>
    </div>

  </div>
</nav>

<div class="container-fluid padding"></div>
<div *ngFor = "let page of pages" class="container-fluid ">
  <ul routerLink="/profile/{{ userId }}/website/{{ wid }}/page/{{pid}}" class="list-group">
    <li class="list-group-item blue borderless">

      <a routerLink="/profile/{{ userId }}/website/{{ wid }}/page/{{page._id}}/widget">
        {{ page.name }}（ {{ page._website.name}} ）
      </a>

      <a class="pull-right" routerLink="/profile/{{ userId }}/website/{{ wid }}/page/{{page._id}}">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
    </li>
  </ul>
</div>


<nav class="navbar navbar-light2 navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a routerLink="/profile/{{userId}}" class="blue">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>

