<nav class="navbar navbar-light2 navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <div class="navbar-text pull-left">
      <a routerLink="/user/website/{{wid}}/page/{{pid}}/widget" class="black">
        <span class="glyphicon glyphicon-chevron-left "></span>
      </a>
    </div>

    <div class="navbar-brand pull-left">
      <div class="thick grey">
        <b>Widget Edit</b>
      </div>
    </div>

    <!--tick mark-->
    <div class="navbar-text pull-right">
      <a (click)="updateYoutube(name, text, url, width)" class="black">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </div>

  </div>
</nav>



<div class="container-fluid padding">

      Name
    <input [(ngModel)]="name"
           class="form-control"
           type="text"
           placeholder="Name"/>
      Text
    <input [(ngModel)]="text"
           class="form-control"
           type="text"
           placeholder="Text"/>
      URL
    <input [(ngModel)]="url"
           class="form-control"
           type="text"
           placeholder="Please user embeded url">

      Width
    <input [(ngModel)]="width"
           class="form-control"
           type="text"
           placeholder="100%">


  <a class="btn btn-danger btn-block"
     (click)="deleteWidget(this.pid, this.wgid)">Delete</a>

</div>



<nav class="navbar navbar-light2 navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-text pull-right">
      <!--<a href="../user/profile.html">-->
      <span class="glyphicon glyphicon-user blue"></span>
      <!--</a>-->
    </div>
  </div>
</nav>
