<nav class="navbar navbar-light2 navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <div class="navbar-text pull-left">
      <a routerLink="/user/website/{{wid}}/page/{{pid}}/widget/google/list" class="black">
        <span class="glyphicon glyphicon-chevron-left "></span>
      </a>
    </div>

    <div class="navbar-brand pull-left">
      <div class="thick grey">
        <b>Widget Edit</b>
      </div>
    </div>

    <!--tick mark-->
    <div class="navbar-text pull-right">
      <a class="black">
        <span class="glyphicon glyphicon-ok "></span>
      </a>
    </div>

  </div>
</nav>



<div class="container-fluid padding">
  <div class="result-row">
    <p>
      Stock name: {{stock['name']}}
    </p>
    <p>
      Number: {{stock['number']}}
    </p>
    <p>
      Price: {{stock['price']}}
    </p>
    <p>
      Date: {{stock['date']}}
    </p>
  </div>
  <h1>Sell stock</h1>
  <label>Number</label>
  <input #number>
  <button
    class="btn btn-primary"
    (click)="sellStock(number.value)">
    sell
  </button>
  <h1>Buy stock</h1>
  <button
    class="btn btn-primary"
    (click)="searchCompanyHistoricals()">
    search
  </button>
  <label>Number</label>
  <input #number2>
  <button
    class="btn btn-primary"
    (click)="buyStock2(number2.value)">
    buy
  </button>
  <div >
    <ul *ngFor="let companyHistorical of companyHistoricals2">
      <li class="result-row">
        <p>
          Date: {{companyHistorical['date']}}
        </p>
        <p>
          Open: {{companyHistorical['open']}}
        </p>
        <p>
          High: {{companyHistorical['high']}}
        </p>
        <p>
          Low: {{companyHistorical['low']}}
        </p>
        <p>
          Close: {{companyHistorical['close']}}
        </p>
      </li>
    </ul>
  </div>

</div>



<nav class="navbar navbar-light2 navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-text pull-right">
      <!--<a href="../user/profile.view.client.html">-->
      <span class="glyphicon glyphicon-user blue"></span>
      <!--</a>-->
    </div>
  </div>
</nav>
