

<div class="container">
  <h1>Register</h1>


  <!--<input [(ngModel)] = "username"-->
         <!--placeholder="username"-->
         <!--type="text"-->
         <!--class="form-control"/>-->
  <!--<input [(ngModel)]="password"-->
          <!--placeholder="password"-->
         <!--type="password"-->
         <!--class="form-control"/>-->
  <!--<input [(ngModel)]="passwordvalid"-->
          <!--placeholder="verify password"-->
         <!--type="password"-->
         <!--class="form-control"/>-->
  <!--<a class="btn btn-primary btn-block" (click)="register(username, password, passwordvalid)">Register</a>-->
  <!--<a class="btn btn-danger btn-block" routerLink="/login">Cancel</a>-->



  <form (ngSubmit) = "register()" #f="ngForm">
    <input ngModel
           placeholder="username"
           name="username"
           class="form-control"
           type="text"
           required
           #username = "ngModel"/>


    <input ngModel
           placeholder="password"
           name="password"
           class="form-control"
           type="password"
           required
           #password="ngModel"/>


    <input ngModel
           placeholder="verify password"
           name="passwordvalid"
           class="form-control"
           type="password"
           required
           #passwordvalid="ngModel"/>



    <button class="btn btn-primary btn-block"
            type = "submit"
            [disabled]="!f.valid">Register</button>

    <button class="btn btn-danger btn-block" routerLink="/login">Cancel</button>

  </form>






</div>
